<h1>Kada ToDo List</h1>

<%= link_to 'Return to main page', welcome_index_path %>
<br /><br />
<%= link_to 'Add Task', add_tasks_path %>

<% @tasks.each do |task| %>
  <strong><%= task.title %></strong><br />
  <%= task.description %><br />
  <%= link_to 'Edit', edit_task_path(task) %>
  <%= link_to 'Delete', task_path(task), method: :delete %><br />
  <br />
<% end %>